@-moz-document regexp(".*www\\.douyu\\.com\\/(?!(directory|cms)).+") {
    /* Notification(s) */
    .c-list:before {
        content: "清爽斗鱼+ 本次更新已尝试处理竞猜功能的样式及解除对官方H5播放器的屏蔽（仍建议使用第三方H5），目前处于测试过程中。由于放行规则较为宽松，也许会放过一些广告。遇到问题请反馈至Github或2917433887@qq.com";
    }

    /* User custom rules && block head image */
    #container, :root {
        background: none !important;
        background-image: url(/*[[image]]*/) !important;
        background-position: /*[[position]]*/ !important;
        background-size: /*[[bgSize]]*/ !important;
        background-repeat: /*[[bgRepeat]]*/ !important;
    }

    /*[[theme]]*/

    /*[[nuke]]*/
}

/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/

@-moz-document regexp(".*www\\.douyu\\.com\\/(?!(directory|cms)).+") {
/* 进一步优化，适用于只用斗鱼看特定主播的人 */
    /* 屏蔽无用按钮 */
    .head .head-nav, .head-oth .o-download, .head-oth .head-history, .catagory-order-head .catagory-order-num {
        display: none;
    }

    .zb-sendmsg-icon, #js-fans-rank {
        display: none !important;
    }

    /* 精简聊天区(欢迎进入消息、图标等) */
    .text-cont .user-level-wel, .chat-icon-pad:not(.name), .text-cont .user-level, .jschatli .text-cont .chat-icon-pad, .chat-task-madel, .lw-imgs, .task-wel {
        display: none !important;
    }

    .chat .chat-cont .c-list li .text-cont .hy-name {
        color: black;
    }

    .f-phone {
        display: none;
    }

    .nick {
        display: inline !important;
    }

    .enter-level1 {
        display: none;
    }

    .chat-cont .c-list li{
        margin: 0;
        line-height: 16px;
    }

    .chat-feat .cs-textarea{
        background: inherit;
    }

    /* disable female icon */
    .girl-privilege-icon{
        display: none !important;
    }

    /* disable emotion & colorset button & other adjust */
    .expression, #js-fans-barrage{
        display: none;
    }

    .speak-up>*:not(.shie-gift){
        margin: 4px;
    }

    .speak-up{
        padding-left: 10px;
    }

    .peck{
        opacity: 0.6;
        background-image: none !important;
    }

    .peck-status{
        top: 20px;
    }
    .peck .peck-num{
        top: -5px;
    }

    /* 一直显示礼物剩余时间 */
    .yw-warmTip {
        display: block !important;
        position: absolute !important;
        left: 48px !important;
        top: 16px !important;
        /*  z-index:-999 !important;  */
        font-size: 16px;
        font-weight: 400;
        color: #000 !important;
        padding: 0 8px !important;
    }

    .task-Getyw .get-yw .get-box .yw-icon{
        display: none;
    }

    .arrow:not(.fl) {
        display: none !important;
    }

    .g-time {
        opacity: 0 !important;
    }

    .getyw-time{
        position: relative;
        left: -20px;
        font-size: 14px;
    }

    [title$=获得鱼丸] {
        background-position: -413px -32px !important;
        position: relative;
        top: -1px;
        font-size: 12px;
    }

    /* 如果可以领取，一直显示领取按钮 */
    .yet:not(.follow-btn), .yet:not(.follow-btn)+a, .wait-get, .wait-get+a, .w-cq-get, .may-get, .cq-get, .w-cq-get+a, .cq-get+a, .yw-collect-box .close, .get-state-ard {
        display: none !important;
    }

    .may-get+a{
        position: relative;
    }

    .cb-list{
        z-index: 65535;
        position: relative;
        left: -160px;
    }

    .yw-collect-box {
        position: absolute !important;
        left: 200px !important;
        top: -25px !important;
        background: none !important;
        display: block !important;
    }

    /* 修复点击领取鱼丸按钮出现提示导致领取鱼丸列表向上偏移 */
    .c-txt {
        display: none !important;
        height: 0 !important;
    }
    .get-yw .yw-collect-box.ywrmd {
        padding: 28px 10px 17px 8px !important;
        min-height: 35px !important;
    }
    .get-yw .yw-collect-box{
        min-height: 0;
    }

    /* 如要开启欢迎进入消息请为下面的规则添加注释 */
    .text-cont .c-wel, .text-cont .hy-name, .text-cont .hy-name+span {
        display: none;
    }

    /* 屏蔽公告 */
    .chat .chat-cont .c-list .cj-img, .super-barrage {
        display: none;
    }

    /* 屏蔽鱼翅和鱼翅礼物功能（除背包） */
    #js-stats-and-actions .uinfo-ywyc .m-wealth .y2, .gift-item, .uinfo-ywyc .m-wealth .getYc {
        display: none;
    }

    .g-list [data-name*="鱼丸"] {
        display: list-item;
    }

    /* make package clickable */
    .backpack-btn{
        z-index: 9999999;
    }

    /* Attempt to block all ads in gift area */
    #gift-content div:not(.g-list){
        display: none;
    }

    /* 屏蔽首充提示和道具收集提示 */
    .first-charge-tips, .first-prop-tips {
        display: none !important;
    }

    /* 屏蔽主播商品推荐（？） */
    .fishop-anchor-recommands-box {
        display: none;
    }

    /* 屏蔽微信提示 */
    .weixin-info-panel {
        display: none !important;
    }

    /* 屏蔽站内信、未读消息提示 */
    #js-msg-barrage, #header .head-oth .o-login>b {
        display: none;
    }

    /* 屏蔽用户头像、用户信息区无用元素 */
    .l-pic, .mem-pic, .authenticate, .live-set, .wallet, .uim-foot, .user-level-next, .level-tip, .chart-li-girl {
        display: none;
    }

    .o-login .l-menu .logout {
        top: 15px;
    }

    /* 屏蔽分区广播、贵族 */
    #js-noble-speaker-btn, .noble--barrage-box {
        display: none;
    }

    /* 屏蔽斗鱼贵族广告 */
    .myvip--guide--oncar {
        display: none !important;
    }

    /* 屏蔽X爵 */
    .enter-level1, .enter-level2, .enter-level3, .enter-level4, .enter-level5 {
        display: none;
    }

    /* 屏蔽新功能提醒 */
    .normallevel-lead, .high-notice, .yw-user-guide {
        display: none;
    }

    /* 屏蔽*主播等级上线通知*弹出窗口 */
    .anchorlevel-lead {
        display: none;
    }

    /* 屏蔽一个不知道什么鬼活动 */
    .douyu-carnival-box {
        display: none;
    }

    /* 修复聊天框样式错误 */
    .chat-feat .cs-textarea, .chat-feat .login-inside-nologbor, .chat-feat .login-inside {
        border: 0;
    }

    .chat-feat .login-inside-nologbor {
        padding: 0 0 10px 0;
    }

    .cont, .header-video-area .header-my-video, .pop-arrow {
        display: none;
    }

    .pop-dialog {
        display: none !important;
    }

    /* 修正背包icon */
    .backpack-btn {
        position: relative;
        left: 70%;
    }

    /* block gamepacks-box */
    .gamepacks-box {
        display: none;
    }

    /* block all video effects && event effects except player loaded by douyu player plugin */
    div:not([id*="h5player"])>div:not(.danmu-video)>video, span>video, .video-container, div:not(.video-main)>.video-box, [data-component-id=videoHeader] {
        display: none !important;
    }

    [data-component-id=view], .annualfestival-header {
        background-image: none !important;
    }

    /* block annualfestival */
    #header.annualfestival-header:after, #header.annualfestival-header:before {
        display: none !important;
    }

    /* block suggest-search */
    .search-hot-key, .search-suggest-box {
        display: none;
    }

    /* block pay-give-wrap 送鱼丸链接 */
    .pay-give-wrap{
        display: none;
    }

    /* block all no-login */
    .no-login{
        display: none;
    }

    /* diy-download-btn **displayed as some link btn when i founded */
    .diy-download-btn{
        display: none;
    }

    /* attempt to block future ads */
    [class*="festival"]:not(#header), [class*="guide"], [class*="notice"]:not([class*="no-notice"]), [class*="pendant"],
    [class*="ad"]:not([class*="head"]):not([class*="radar"]):not([class*="load"]):not([class*="uado"]):not([class*="read"]):not([class*="padding"]):not([class*="broadcast"]):not([class*="add"]):not([class*="menu-"]):not([class*="app-"]):not([class*="video-container-"]),
    [class*="noble"], [class*="-mall"],
    [class*="o-broadcast"]{
        display: none !important;
    }
    /* attempt to unblock elements which blocked by ads */
    [type="hidden"]{
        display: inline-block;
    }

    #header.annualfestival-header .head-oth .o-search{
        background-color: inherit;
        border: 1px solid gray;
    }

    /* live room position fix */
    .live-room{
        padding: 60px 160px 0 160px !important;
        margin: 0 !important;
    }

    #mainbody{
        margin: 0 !important;
        padding: 0 !important;
        width: auto !important;
    }

    /* other patches - remove bgColor from getyw time */
    .task-Getyw .tip{
        background: none;
    }

    /* 屏蔽动作栏，除竞猜 */
    #js-stats-and-actions .action-list>*:not([data-flag="anchor_quiz"]) {
        display: none;
    }

    /* guess part repair. */
    /* here we comes with a css hack. sticky is not static so that we can cancel the button's space */
    .action-item[data-flag="anchor_quiz"]{
        position: sticky;
    }

    .guess-game-btn{
        position: absolute;
        background: none;
    }

    .action-item[data-flag="anchor_quiz"]>.guess-game-wrap:before{
        content: "竞猜";
        position: relative;
        top: 11px;
        left: 14px;
    }

    .action-item>.guess-user-reminding-out>*, .action-item>.guess-user-reminding-out-special>*,
    .action-item>.guess-ancher-reminding-out>*, .action-item>.tips, .action-item>.guess-user-reminding,
    .action-item>.guess-user-reminding>*, .guess-user-reminding{
        display: none !important;
    }

    .guess-game-box-body>.noGuessBox:before{
        content: "这位主播尚未发起竞猜。坐和放宽。"
    }

    .guess-game-box-body>.noGuessBox>* {
        display: none
    }

    #container > [data-component-id="view"] > * > * > * > :not([data-component-id="room"]) {
    	display: none !important;
    }
    
    #container > [data-component-id="view"] > * > * {
    	margin: 0 !important;
    }
    
    #container > [data-component-id="view"] {
    	background-color: inherit !important;
    }

    /* block douyu world cup */
    .WorldCupFans {
        display: none !important;
    }

    /* smooth scroll - not work property now */
    /*.chat-cont-wrap{
        scroll-behavior: smooth;
    }*/

    /* 激进策略:完全屏蔽礼物区 */
    /*#gift-content{
            display:none;
        }*/

}

/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/

@-moz-document domain("v.douyu.com") {
    /* effect on douyu video */

    /* hide upload button, user head, recommended section */
    .contribute, #header .head .head-oth .o-login .o-login-a .l-pic, #omnibus{
        display: none;
    }
    .o-login-a{
        position: relative;
        top: 9px;
    }

    /* let search box more glassy */
    #header .head-search .o-search{
        border-color: rgba(220, 220, 220, 1)
    }
    #header .o-search .search-btn{
        background-color: rgba(220, 220, 220, 1);
        filter: grayscale(100%);
    }
    .icofont, .search-btn{
        opacity: 0.3;
    }

    /* client ads */
    .video-info-download{
        display: none;
    }
}